/*---------------------------- Resets -------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
a,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* --------------------------- Utility Components ------------------------------- */

:root {
  --primary-color: #24053e;
  --secondary-color: #44ffa1;
  --teritary-color: #584d62;
  --white-color: #fff;
  --shade-color: #fcf8ff;
  --primary-font: fraunces;
}

@font-face {
  font-family: Fraunces;
  src: url(fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
}
/* ------------------------------- containers ----------------------------------- */

.background-cnt {
  background-color: var(--primary-color);
  height: 737px;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
}

.heading-cnt {
  margin: 0 auto;
  padding-top: 3.5625rem;
  width: 76.51%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.main-heading-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.97625rem;
  /* line-height: 5rem; */
  gap: 2.5rem;
}

.btn {
  font-size: 18px;
  padding: 15px 32px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main-heading {
  font-size: 5rem;
  color: var(--white-color);
  font-family: var(--primary-font);
  position: relative;
}
.hero {
  width: 767px;
  height: 441px;
}

/* Individual */

.nav-link {
  font-family: var(--primary-font);
  color: var(--white-color);
  font-size: 18px;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  letter-spacing: 1px;
}

.ind-text {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.left-logo {
  position: absolute;
  top: 10%;
  left: -9.375em;
}
.right-logo {
  top: 30%;
  right: -6rem;
  position: absolute;
}

/* -------------------------------- Meida Queries ------------------------------------- */

@media screen and (max-width: 866px) {
  .main-heading {
    font-size: 3.75rem;
  }
  .hero {
    width: 514px;
    height: 296px;
  }
  .background-cnt {
    height: 39em;
  }
  .left-logo {
    width: 16.875em;
    height: 13.4375em;
  }
}
@media screen and (max-width: 612px) {
  .main-heading {
    font-size: 3.125rem;
  }
  .hero {
    width: 320px;
    height: 184px;
  }
  .background-cnt {
    height: 32em;
  }
  .left-logo,
  .right-logo {
    display: none;
  }
}
